/* === CSS Reset ========== */
 body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p { margin:0; padding:0 }
 input, button, select, textarea, a:fouse {outline:none}
 li {list-style:none;}
 img {border:none;}
 textarea {resize:none;}
 body {margin:0;font: 12px "微软雅黑"; background-image: url('images/bg.jpg');background-repeat:no-repeat;background-size: cover;}
 /* === End CSS Reset ========== */
 body{
		 min-width: 318px;
 }
 a{
		 text-decoration: none;
 }
 .clearfix:after {
		 visibility: hidden;
		 display: block;
		 font-size: 0;
		 content: " ";
		 clear: both;
		 height: 0;
 }
 .clearfix{*zoom:1;}
 .container{
		 width: 318px;
		 margin: 0 auto;
		 background: #00f;
		 position: relative;

 }

#wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
           flex-flow: column;
}
#header{
    text-align: center; background-color: #f5f5f5; color: #fff;
    width: 100%; border-bottom: 1px solid #e5e5e5;
}
#header h1{
    position: relative;
    font-size: 20px; height: 44px; line-height: 44px; margin: 0em;
    -webkit-background-size: 140px 28px;
    background-size:  140px 28px;
}
#header .logo{
    position: absolute; left: 14px; bottom: 7px;
    background: url(../image/user.png) no-repeat center;
    width: 30px; height: 30px;
    -webkit-background-size: contain;
    background-size:  contain;
}
#header .cancel {
    background: url(../image/arrow_left.png) no-repeat 15px center;
    background-size: auto 16px;
		position: absolute;
		left: 10px;
		bottom: 0;
		width: 44px;
		height: 44px;
		font-size: 26px;
}

#header .cancel i {
		border: 1px solid #e0e0e0;
		color: #8c8c8c;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		line-height: 30px;
		text-align: center;
}

#header .cancel i.active {
		background-color: #e6e6e6;
}
#container{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 2em;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
}

.mainIcon {
    background: url("../image/icon.png?v=7") no-repeat;
    background-size: 225px 1000px;
}
