/*
Author: hujunhaostc@163.com
date: 2015.10.30
*/
/*上拉刷新，下拉刷新*/
#refresh_html {
	position: relative;
	width: 100%;
	height: 640px;
	background: white;
	text-align: center;
}
#refresh_html .body{
	position: relative;
	top: 150px;
}
#refresh_html #load {
	background: url('../image/common/load.png');
	background-size: 100px 100px;
	background-repeat:  no-repeat;
	width:100%;
	height: 100px;
	background-position:center;
	margin-bottom: 5px;
}
#refresh_html #p1 {
	font-size: 18px;
	margin-bottom: 10px;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 54px;
	bottom: 0px;
	left: 0;
	width: 100%;
}
#scroller-pullDown,#scroller-pullUp {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
	position:absolute;
	left:-75px;
	width:100%;
}
#scroller-pullDown{
	top:-98px;
}
#scroller-pullUp{
	bottom:-40px;
}


#scroller-pullDown .pull-down-icon,#scroller-pullUp .pull-up-icon{
	background: url('../image/loading.gif');
	background-size: 150px 88px;
	height: 88px;
	width: 150px;
	display: block;
	margin-left:50%;
	float:left;
	background-repeat:no-repeat;

}
/*
#scroller-pullDown .pull-down-icon.reverse_icon,#scroller-pullUp .pull-up-icon.reverse_icon{
	-webkit-transform: rotate(-180deg);
}
*/

#scroller-main {
	min-height:680px;
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

header{
	position: relative;
    width: 100%;
    z-index: 999;
    overflow:hidden;
}
.fixed{
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
}
header .headTab{
    position: relative;
    width: 100%;
    height: 54px;
    background-color: #fff;
    border-bottom:1px #eaeaea solid;
}
header .headTab .save{
    position: absolute;
    background:url('../image/common/save.png') no-repeat center;
    width:44px;
    height:44px;
    top: 18px;
    right: 28px;
}

header .headTab .p{
	font-size:14px;
	position: absolute;
	line-height:44px;
	top: 18px;
    right: 28px;
}
header .headTab .save_light{
	position: absolute;
    background:url('../image/common/save_light.png') no-repeat center;
    width:44px;
    height:44px;
    top: 18px;
    right: 28px;
}
header .headTab .back{
    background-position: -150px 12px;
    height: 54px;
    width: 54px;
    position: absolute;
    top: 16px;
    left: 0;
}
header .headTab h2{
    color: #101010;
    line-height: 54px;
    text-align: center;
    padding-top: 14px;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}
header .headTab .share{
	background:url('../image/common/share.png') no-repeat center;
	width:44px;
	height:54px;
	margin-top:14px;
}

/*****************************************************************************/
/*                                                         底部tab公用样式                                                     */
/*****************************************************************************/
footer{
    position: fixed;
    z-index:999;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-top: 1px #d2d2d2 solid;
}
footer .footerTab li{
	position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding-top: 5px;
}
footer .footerTab li div{
    width: 22px;
    height: 28px;
    margin: 0 auto;
}
footer .footerTab li p{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #666;
}
/*
.footer_main{
    background-position: -107px 0;
}
.footer_server{
    background-position: -107px -35px;
}
.footer_topic{
    background-position: -109px -69px;
}
.footer_shop{
    background-position: -107px -104px;
}
.footer_owner{
    background-position: -107px -139px;
}
.footer_main_action{
    background-position: -60px 0;
}
.footer_server_action{
    background-position: -61px -35px;
}
.footer_topic_action{
    background-position: -60px -69px;
}
.footer_shop_action{
    background-position: -60px -104px;
}
.footer_owner_action{
    background-position: -60px -139px;
}
*/
footer .footerTab li .tabAction{
    color: #ff7200;
}

footer #new_num {
	position: absolute;
	background:red;
	border-radius: 7.5px;
	height:15px;
	min-width:15px;
	line-height:15px;
	text-align:center;
	color:white;
	font-size:10px;
	top:0px;
	right:10px;
}


/**  分享 **/
#share{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
#shareBox{
    position: fixed;
    top: 54px;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 9999;
}
#shareBox .shareList{
	display: -webkit-box;
	display:-moz-box;
}
#shareBox .shareList li{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    padding: 15px 0;
}
.shareIcon{
    background: url("../image/common/shareIcon.png") no-repeat;
    background-size: 34px 180px;
}
#shareBox .shareList li div{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}
.shareWeixin_hh{background-position: 0 0;}
.shareWeibo{background-position: 0 -73px;}
.shareQQ{background-position: 0 -36px;}
.shareWeixin_pyq{background-position: 0 -109px;}
.shareQzone{background-position: 0 -146px;}


/*** 新的底部icon  ***/
.newBottomIcon{
    background-image: url("../image/common/bottomIcon.png");
    background-repeat: no-repeat;
    background-size: 50px 200px;
}
.footer_main{
    background-position: 0 0;
}
.footer_server{
    background-position: 0 -31px;
}
.footer_shop{
    background-position: 0 -92px;
}
.footer_owner{
    background-position: 0 -126px;
}
.footer_main_action{
    background-position:-28px 0;
}
.footer_server_action{
    background-position:-28px -31px;
}
.footer_shop_action{
    background-position:-28px -92px;
}
.footer_owner_action{
    background-position:-28px -126px;
}

.blankblock{
    height: 10px;
}
