/* 筛选条件标题 */
#condition{
    width: 100%;
    height: 40px;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 1px #e2e2e8 solid;
}
#condition .select_part{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    padding: 6px 0;
    position: relative;
}
#condition .select_part .select_part_structure{
    padding: 7px 0;
    height: 14px;
}
.border_r{
    border-right: 1px #e2e2e8 solid;
}
#condition .select_part .select_part_structure .select_part_name{
    font-size: 14px;
    color: #888888;
    margin: 0 auto;
    line-height: 14px;
    text-align: center;
}
.districtMark{
    background-position: -207px -115px;
}
.styleMark{
    background-position: -207px -171px;
}
.orderMark{
    background-position: -207px -230px;
}
.searchMark{
    background-position: -207px -260px;
}
.right_down_arrow{
    position: absolute;
    right: 3px;
    bottom: 6px;
    background-position: -208px -380px;
    width: 8px;
    height: 8px;
}
.font_active{
    color: #ff7200!important;
}
/* 商户列表页 */
.merchant{
    background-color: #fff;
}
.merchant li{
    margin-bottom: 2px;
    height: 100px;
    position: relative;
}
.merchant li .shop_link{
    position: relative;
    display: block;
}
.merchant li .shop_link .shop_face_img_part{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100px;
    background-color: #fff;
}
.merchant li .shop_link .shop_face_img_part .shop_faceImg{
    width: 100px;
    height: 100px;
    display: block;
}

.company_lable_red {
	position: absolute;
	top: 0px;
	line-height: 14px;
	margin-left: 10px;
	padding:1px 2px;
	color:white;
	font-size:10px;
	background-color: red;
}
.company_lable_orange {
	position: absolute;
	top: 0px;
	line-height: 14px;
	margin-left: 10px;
	padding:1px 2px;
	color:white;
	font-size:10px;
	background-color: orange;
}

.merchant li .shop_link .shop_right{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 10px 10px 10px 110px;
    border-bottom: 1px #eeeeee solid;
    height: 79px;
}
.shop_right .name{
	position: relative;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    margin-bottom: 10px;
}
.shop_right .data_part{
    margin-bottom: 18px;
}
.shop_right .data_part .score{
    font-size: 14px;
    color: #fb7925;
    margin-right: 15px;
    line-height: 18px;
    font-weight: 600;
}
.shop_right .data_part .project_count{
    font-size: 12px;
    color: #6b6b6b;
    line-height: 18px;
}
.business {
	float: left;
	height: 12px;
    font-size: 12px;
    line-height: 12px;
    padding-right:18px;
    color: #6b6b6b;
}
.product_type {
	float: left;
	height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #6b6b6b;
}
.distance{
    float: right;
    height: 12px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #6b6b6b;
    background-position: -208px -407px;
}
.merchant li .merchant_tag{
    position: absolute;
    bottom: 10px;
    left: 110px;
}
.merchant li .merchant_tag p{
    float: left;
    margin-right: 6px;
    width: 20px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
}
.bg_gray{
    background-color: #ba6a02;
}
.bg_cyan-blue{
    background-color: #3fa700;
}
.bg_green{
    background-color: #00a1a7;
}
.bg_blue{
    background-color: #0c8cef;
}
/** 门店详情页 **/
.m_detail_top{
    position: relative;
    height: 180px;
}
.m_detail_top .company_face_img{
    display: block;
    width: 100%;
    height: 180px;
}
.m_detail_top .detail_score_part{
    background-position: -96px -219px;
    width: 77px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #fa7825;
}
.m_detail_top .detail_score_part ins{
    font-size: 25px;
}
.m_detail_top .detail_data_part{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-image: -moz-linear-gradient(top, transparent, #000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, #000));
}
.m_detail_top .detail_data_part .data_list{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 33%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    padding-top: 5px;
    display: block;
}
.m_detail_top .detail_data_part .data_list p{
  color: white;
}
.m_detail_main_info{
    background-color: #fff;
    padding: 15px 10px;
}
.m_detail_main_info .d_top{
    position: relative;
    margin-bottom: 15px;
}
.m_detail_main_info .d_top .company_face_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
}
.product_box {
    color: black;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    width:49%;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 10px;
}

.product_box img {
    width: 100%;
}

.mkt-price {
    color: #ff3602;
    font-size: 14px;
}
sup {
    font-size: 83%;
    vertical-align: super;
    font-size: smaller;
}

.act-price {
    text-decoration: line-through;
    font-size: 10px;
}

.lbl-wrap {
    text-align: right;
    color: #cccccc;
}
.cd_tab_box {
  padding-top:10px;
}
.tit {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}



.border-yellow{
    border-left:4px #f2c703 solid;
    height:20px;
    line-height:20px;
    font-size:13px;
    color: #666;
    margin-left:17px;

    padding-left:7px;
}
.border-frame{
    height:27px;
    background:#f6f7f8;
    padding-top:8px;
}
