condition/*
 *  create by junhao
 *  on 2015.11.4
 */

html, body{
    background-color: #fff;

}

/* 筛选条件标题 */
#condition{
    position: fixed;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 1px #e2e2e8 solid;
}
#condition .select_part{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    padding: 6px 0;
    position: relative;
}
#condition .select_part .select_part_structure{
    padding: 7px 0;
    height: 14px;
}
.border_r{
    border-right: 1px #e2e2e8 solid;
}
#condition .select_part .select_part_structure .select_part_name{
    font-size: 14px;
    color: #888888;
    margin: 0 auto;
    line-height: 14px;
    text-align: center;
}
.districtMark{
    background-position: -207px -115px;
}
.styleMark{
    background-position: -207px -171px;
}
.orderMark{
    background-position: -207px -230px;
}
.searchMark{
    background-position: -207px -260px;
}
.right_down_arrow{
    position: absolute;
    right: 3px;
    bottom: 6px;
    background-position: -208px -380px;
    width: 8px;
    height: 8px;
}
.hidden_box{
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.p15_3{
    padding: 15px 0 3px;
    background-color: #fff;
}
.hidden_box .tj_box_list{
    margin-bottom: 12px;
}
.hidden_box .tj_box_list li{
    width: 33.3%;
    display: -webkit-box;
    display: -moz-box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
}
.hidden_box .tj_box_list li .tj_name{
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    display: block;
    margin: 0 8px;
    border: 1px #dddddd solid;
    font-size: 12px;
    color: #303030;
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.font_active{
    color: #ff7200!important;
}
.hidden_box .tj_table_list{
    background-color: #fff;
}
.hidden_box .tj_table_list li{
    border-bottom: 1px #dddddd solid;
    height: 36px;
    width: 100%;
}
.hidden_box .tj_table_list li .order_name{
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #303030;
    display: block;
    width: 100%;
}
.search_form{
    position: relative;
    background-color: #fff;
    padding: 10px 90px 10px 10px;
}
.search_form .search_text{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    border: 1px #d2d2d2 solid;
    height: 35px;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.search_form .search_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #d2d2d2;
    color: #fff;
    height: 35px;
    width: 70px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
}
/* 商户列表页 */
.merchant{
    background-color: #fff;
    margin: 21px 0 50px;
}
.merchant li{
    margin-bottom: 2px;
    height: 100px;
    position: relative;
}
.merchant li .shop_link{
    position: relative;
    display: block;
}
.merchant li .shop_link .shop_face_img_part{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100px;
    background-color: #fff;
}
.merchant li .shop_link .shop_face_img_part .shop_faceImg{
    width: 100px;
    height: 100px;
    display: block;
}

.company_lable_red {
	position: absolute;
	top: 0px;
	line-height: 14px;
	margin-left: 10px;
	padding:1px 2px;
	color:white;
	font-size:10px;
	background-color: red;
}
.company_lable_orange {
	position: absolute;
	top: 0px;
	line-height: 14px;
	margin-left: 10px;
	padding:1px 2px;
	color:white;
	font-size:10px;
	background-color: orange;
}

.merchant li .shop_link .shop_right{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 10px 10px 10px 110px;
    border-bottom: 1px #eeeeee solid;
    height: 79px;
}
.shop_right .name{
	position: relative;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    margin-bottom: 10px;
}
.shop_right .data_part{
    margin-bottom: 18px;
}
.shop_right .data_part .score{
    font-size: 14px;
    color: #fb7925;
    margin-right: 15px;
    line-height: 18px;
    font-weight: 600;
}
.shop_right .data_part .project_count{
    font-size: 12px;
    color: #6b6b6b;
    line-height: 18px;
}
.business {
	float: left;
	height: 12px;
    font-size: 12px;
    line-height: 12px;
    padding-right:18px;
    color: #6b6b6b;
}
.product_type {
	float: left;
	height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #6b6b6b;
}
.distance{
    float: right;
    height: 12px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #6b6b6b;
    background-position: -208px -407px;
}
.merchant li .merchant_tag{
    position: absolute;
    bottom: 10px;
    left: 110px;
}
.merchant li .merchant_tag p{
    float: left;
    margin-right: 6px;
    width: 20px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
}
.bg_gray{
    background-color: #ba6a02;
}
.bg_cyan-blue{
    background-color: #3fa700;
}
.bg_green{
    background-color: #00a1a7;
}
.bg_blue{
    background-color: #0c8cef;
}
/** 门店详情页 **/
.m_detail_top{
    position: relative;
    height: 180px;
}
.m_detail_top .company_face_img{
    display: block;
    width: 100%;
    height: 180px;
}
.m_detail_top .detail_score_part{
    background-position: -96px -219px;
    width: 77px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #fa7825;
}
.m_detail_top .detail_score_part ins{
    font-size: 25px;
}
.m_detail_top .detail_data_part{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-image: -moz-linear-gradient(top, transparent, #000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, #000));
}
.m_detail_top .detail_data_part .data_list{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 33%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    padding-top: 5px;
    display: block;
}
.m_detail_main_info{
    background-color: #fff;
    padding: 15px 10px;
}
.m_detail_main_info .d_top{
    position: relative;
    margin-bottom: 15px;
}
.m_detail_main_info .d_top .company_face_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
}
.product_box {
    color: black;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    width:49%;
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 10px;
}

.product_box img {
    width: 100%;
}

.mkt-price {
    color: #ff3602;
    font-size: 14px;
}
sup {
    font-size: 83%;
    vertical-align: super;
    font-size: smaller;
}

.act-price {
    text-decoration: line-through;
    font-size: 10px;
}

.lbl-wrap {
    text-align: right;
    color: #cccccc;
}
.m_detail_main_info .d_top .d_top_right_part{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding-left: 55px;
    height: 45px;
}
.mb5{
    margin-bottom: 5px;
}
.m_detail_main_info .d_top .d_top_right_part .name{
    float: left;
    font-size: 16px;
    color: #141414;
    margin-right: 5px;
    font-weight: 600;
}
.m_detail_main_info .d_top .d_top_right_part .years{
    float: left;
    background-color: #ff8c43;
    color: #fff;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 15px;
    margin-top: 4px;
}
.m_detail_main_info .d_top .d_top_right_part .d_tag{
    float: left;
    padding-left: 16px;
    line-height: 13px;
    color: #6b6b6b;
    margin-right: 8px;
    background-position: -207px -737px;
}
.m_detail_main_info .top_btn_part .btn_box{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 50%;
}
.m_detail_main_info .top_btn_part .btn_box .btn_link{
    display: block;
    border: 2px #494848 solid;
    border-radius: 4px;
    height: 33px;
}
.m_detail_main_info .top_btn_part .btn_box .m_reserve{
    background-color: #ff7200;
    border-color: #ff7200;
}
.mr10{
    margin-right: 10px;
}


.btn_collected{
    background-position: -207px -465px;
    font-size: 14px;
    color: #494848;
    padding-left: 25px;
    line-height: 14px;
    margin: 9px auto 0;
    width: 42px;
}

/**************中间部分（装修直播、最新作品、云端监理工程）******************/
.main_content_list{
    margin-bottom: 4px;
}
.main_content_list .mc_title{
    height: 40px;
    line-height: 40px;
    border-bottom: 2px #f0f0f0 solid;
    background-color: #fff;
}
.main_content_list .mc_title .nav{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 33%;
    display: block;
    color: #141414;
    font-size: 14px;
    text-align: center;
}
.main_content_list .mc_title .nav_active{
    color: #f27220;
    line-height: 39px;
    border-bottom: 1px #f27220 solid;
}
.m_article_list li{
    border-bottom: 2px #e2e2e2 solid;
    padding: 0 10px;
    background-color: #fff;
}
.m_article_list li .ma_link{
    display: block;
}
.m_article_list li .ma_top_part{
    border-bottom: 1px #f0f0f0 solid;
    position: relative;
}
.m_article_list li .ma_top_part .ma_head{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 0;
}
.m_article_list li .ma_top_part .ma_title{
    font-size: 12px;
    color: #f27220;
    line-height: 20px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 15px 70px 15px 25px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m_article_list li .ma_top_part .ma_step{
    color: #4d4d4d;
    background-color: #f5f5f5;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    right: 0;
}
.m_article_list li .ma_desc{
    font-size: 14px;
    color: #4e4e4e;
    max-height: 60px;
    overflow: hidden;
    margin: 10px 0;
    word-wrap: break-word;
    word-break: keep-all;
    white-space: pre-wrap;
}
.m_article_list li .ma_desc_img{
    margin-left: -10px;
}
.m_article_list li .ma_desc_img .ma_descImg{
    float: left;
    margin: 0 0 10px 10px;
}
.m_article_list li .ma_data_part{
    margin-bottom: 10px;
}
.m_article_list li .ma_data_part .ma_view{
    float: left;
    font-size: 12px;
    color: #6f6f6f;
    line-height: 14px;
    padding-left: 20px;
    margin-right: 15px;
    background-position: -207px -589px;
}
.m_article_list li .ma_data_part .ma_comment{
    float: left;
    font-size: 12px;
    color: #6f6f6f;
    line-height: 14px;
    padding-left: 20px;
    background-position: -207px -619px;
}
.m_article_list li .ma_data_part .ma_time{
    float: right;
    font-size: 12px;
    color: #6f6f6f;
    line-height: 14px;
}
.ma_link_more{
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #141414;
    text-align: center;
    display: block;
    background-color: #fff;
}
.newestWorks_list{
    border-bottom: 2px #f0f0f0 solid;
    padding: 10px 0;
    background-color: #fff;
}
.newestWorks_list li{
    float: left;
    margin: 0 0 10px 10px;
}
.newestWorks_list li .nw_link{
    display: block;
}
.newestWorks_list li .nw_link .nw_title{
    line-height: 14px;
    margin-bottom: 5px;
    color: #101010;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newestWorks_list li .nw_link .nw_collect_count{
    font-size: 12px;
    line-height: 14px;
    color: #949494;
    margin-bottom: 10px;
}
.newestWorks_list li .nw_link .nw_part .nw_faceImg{
    float: left;
    margin: 0 0 1px 1px;
}
.project li{
    background-color: #fff;
    margin-bottom: 5px;
}
.top_part{
    display: -moz-box;
    display: -webkit-box;
    position: relative;
}
.head_link{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 95px;
    height: 95px;
}
.head_link .head{
    width: 95px;
    height: 95px;
    display: block;
}
.info{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 15px 10px 15px 115px;
    border-bottom: 1px #e2e2e2 solid;
    width: 100%;
    min-height: 80px;
}
.info .community_part{
    display: -moz-box;
    display: -webkit-box;
    margin-bottom: 8px;
    position: relative;
}
.info .community_part .community{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding-right: 70px;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.info .community_part .p_mark{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #4d4d4d;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 15px;
}
.info .part{
    margin-bottom: 8px;
}
.info .part .part_info_list{
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
    color: #303030;
}
.info .part .part_info_list_2{
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #4d4d4d;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 15px;
    display: inline-block;
}
.info .date{
    font-size: 12px;
    line-height: 12px;
    color: #303030;
    float: right;
}
.info .distance{
    float: left;
    height: 12px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #303030;
    background-position: -208px -406px;
}
.company_link{
    display: -moz-box;
    display: -webkit-box;
    position: relative;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px #e2e2e2 solid;
}
.company_link .company_name{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding: 0 30px 0 10px;
    font-size: 14px;
    line-height: 44px;
    color: #6f6f6f;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn_part{
    height: 44px;
}
.btn_part .toView{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    padding: 10px 0;
}
.btn_part .lookDiary{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: block;
    padding: 10px 0;
}
.btn_part .toView .toViewBtn{
    background-position: -200px -768px;
    height: 18px;
    padding-left: 23px;
    font-size: 14px;
    color: #f27220;
    margin: 0 auto;
    width: 56px;
}
.btn_part .lookDiary .lookDiaryBtn{
    background-position: -200px -808px;
    height: 18px;
    padding-left: 32px;
    font-size: 14px;
    color: #f27220;
    margin: 0 auto;
    width: 56px;
}
.ckzb_border_l{
    border-left: 1px #e2e2e2 solid;
    height: 24px;
}
.btn_bg_999{
    background-color: #999;
}


/**************业主评价部分******************/
.content_part_link{
    display: block;
    padding: 0 30px 0 0;
    position: relative;
}
.content_part_link .content_list_part{
    float: left;
    font-size: 14px;
    line-height: 44px;
    color: #303030;
}
.content_part_link .look{
    float: right;
    font-size: 12px;
    line-height: 44px;
    color: #949494;
}
.owner_info{
    padding: 10px 10px 0 0;
}
.owner_info .owner_head{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.owner_info .owner_name{
    float: left;
    color: #303030;
    font-size: 14px;
    line-height: 25px;
}
.score_part{
    padding: 10px 10px 0 0;
    display: -webkit-box;
    display: -moz-box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
}
.score_part .star{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    color: #666;
    font-size: 12px;
    line-height: 14px;
    background-image: url("../image/company/star.png");
    background-size: 55px 120px;
    background-repeat: no-repeat;
}
.star_1{
    background-position: 60px 2px;
}
.star_2{
    background-position: 60px -18px;
}
.star_3{
    background-position: 60px -38px;
}
.star_4{
    background-position: 60px -58px;
}
.star_5{
    background-position: 60px -78px;
}
.star_{
    background-position: 60px -98px;
}
.desc{
    padding: 20px 10px 10px 0;
    font-size: 12px;
    color: #757575;
}

.starLogo {
    height: 25px;
    padding: 10px 0px;
    border-bottom: 1px solid #e6e6e6;
    background: #f9f9f9;
    width:100%;
    overflow:hidden;
}
.merchant_name {
	margin-left:10px;
	font-size: 14px;
}
.smallLogo {
    vertical-align: middle;
}
.allStar {
    height: 25px;
    line-height: 25px;
    //background: url("../image/company/icon_1.png") no-repeat 0 -12px;
    background-size: 25px;
    padding-left: 40px;
    margin-right: 60px;
    margin-top: -25px;
    float:right;
}
.btn_collect{
    background-position: -207px -465px;
    font-size: 14px;
    color: #494848;
    padding-left: 25px;
    line-height: 14px;
    margin: 9px auto 0;
    width: 42px;
}
.btn_reserve{
    background-position: -207px -500px;
    font-size: 14px;
    color: #fff;
    padding-left: 25px;
    line-height: 14px;
    margin: 9px auto 0;
    width: 60px;
}
.project_time_part{
    height: 18px;
    padding: 6px 0;
}
.rYears {
    background: #ff413c;
    border-radius: 3px;
    color: #fff;
    padding: 0 5px;
    margin-right: 10px;
}
.renovation {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 16px;
}
.project_time_part p{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    padding-left: 10px;
    line-height: 18px;
    font-size: 12px;
    color: #6b6b6b;
}
.project_time_part p ins{
    height: 18px;
    padding: 0 5px;
    background-color: #ff8c43;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}
.border_b{
    background: #efefef;
    height: 30px;
    padding-left: 20px;
}
.border_a {
    height: 30px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.box{
    background-color: #fff;
    margin-bottom: 4px;
}
.ownerCmt {
    border: 1px solid #efefef;
    margin: 10px;
}
.box li{
    padding: 0px 10px;
}
.right_arrow{
    background: url("../image/company/right_arrow.png") no-repeat;
    background-size: 10px 18px;
    -o-background-size: 10px 18px;
    -moz-background-size: 10px 18px;
    -webkit-background-size: 10px 18px;
    width: 10px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.box li .box_link{
    padding: 6px 30px 12px 35px;
    display: block;
    position: relative;
}
.box li .box_link .word{
    font-size: 12px;
    color: #141414;
    height: 12px;
    line-height: 12px;

}
.ddl{
    background-position: -205px -528px;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 5px;
    top: 14px;
}
.yh{
    background-position: -203px -556px;
    width: 25px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 14px;
}
.content_part_link{
    display: block;
    padding: 0 30px 0 0;
    position: relative;
}
.content_part_link .content_list_part{
    float: left;
    font-size: 12px;
    line-height: 30px;
    color: #303030;
}
.content_part_link .look{
    float: right;
    font-size: 12px;
    line-height: 28px;
    color: #949494;
}
.owner_info{
    padding: 10px 10px 0 0;
}
.owner_info .owner_head{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.owner_info .owner_name{
    float: left;
    color: #303030;
    font-size: 14px;
    line-height: 25px;
}
.tit {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.score_part{
    padding: 10px 10px 0 0;
    display: -webkit-box;
    display: -moz-box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
}

.desc{
    padding: 20px 10px 10px 0;
    font-size: 12px;
    color: #757575;
}
.address_mark{
    background: url("../image/company/location_v2.0.png") no-repeat;
    background-size: 15px 20px;
    -o-background-size: 15px 20px;
    -moz-background-size: 15px 20px;
    -webkit-background-size: 15px 20px;
    height: 20px;
    width: 15px;
    position: absolute;
    top: 6px;
    left: 5px;
}
.tel_mark{
    background-position: -207px -695px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: 5px;
}
