.pingjia{ width:100%; overflow:hidden; background:#FFF; padding-top:10px; padding-bottom:10px; margin-bottom:10px;}
.pingjia h2{ width:95%; height:40px; margin:auto; font-size:14px; line-height:40px; color:#999; font-weight:normal}
.pingjia dl{ width:95%; overflow:hidden; margin:auto;}
.pingjia dl dt{ width:25%; float:left; overflow:hidden}
.pingjia dl dt img{ display:block; width:95%; float:left}
.pingjia dl dd{ width:75%; float:left; overflow:hidden}
.pingjia dl dd span{ display:block; width:100%; overflow:hidden; font-size:14px; line-height:150%; color:#000}
.pingjia dl dd strong{ display:block; width:100%; overflow:hidden; font-size:16px; line-height:150%; color:#e41735; font-weight:normal;}
.pingjia .remark{display: inline-block;float:right; width: 80px; height:36px;border: 1px solid #ccc; font-size: 16px;line-height: 36px;color: #999;text-align: center;border-radius: 5px; margin-left: 3px;}
.pj_zhuangtai{ width:95%; margin:auto; overflow:hidden; border-top:1px solid #eeeeee; text-align:right; margin-top:10px;font-size:14px; line-height:40px;color:#999; padding-top:10px;}
.pj_zhuangtai a{ display:inline-block; width:80px; height:40px; border:1px solid #ccc; font-size:16px; line-height:40px; color:#999; text-align:center;border-radius:5px; }
.pj_main{ width:95%; margin:auto; overflow:hidden; border-top:1px solid #eeeeee; text-align:right; margin-top:10px; padding-top:10px; padding-bottom:10px;}
.pj_main ul{ width:100%; overflow:hidden;}
.pj_main ul li{ width:100%; overflow:hidden}
.pj_main ul li em{ display:block; font-style: inherit;float:left;font-size:14px; line-height:30px; color:#000;}
.pj_main ul li img{ display:block; float:left; height:20px; margin-top:5px;}
.pj_w{ width:100%; overflow:hidden; text-align:left; font-size:14px; line-height:150%; color:#999}
.sd_img{ width:100%; overflow:hidden}
.sd_img dl{ width:100%; overflow:hidden}
.sd_img dl dd{ float:left;width:50px; height:50px; margin:5px;}
.sd_img dl dd img{ width:50px; height:50px;}


/*----评价comment_order.dwt----*/
.pj{ width:100%; margin:auto; padding-top:10px; padding-bottom:10px; background:#FFF}
.pj dl{ width:95%; overflow:hidden; margin:auto}
.pj dl dt{ width:20%; float:left; overflow:hidden;}
.pj dl dt img{ display:block; width:100%; }
.pj dl dd{ width:80%; float:left; overflow:hidden;}
.pj dl dd p{ width:95%; margin-left:5%; font-size:14px; color:#000; line-height:150%;}
.pj dl dd span{ display:block; width:95%; margin-left:5%; font-size:14px; color:#F60; line-height:150%;}

.haoping{ width:95%; overflow:hidden; text-align:center; margin:auto; margin-top:15px;}
.haoping a{ display:inline-block;padding-left:10px; padding-right:15px; overflow:hidden; border-radius:20px; font-size:16px; line-height:25px; margin-left:10px; margin-right:10px;}
.haoping a em{ display:inline-block; width:25px; height:25px; margin-right:5px;}
.haoping a em img{ width:25px; height:25px;}
.clo1{ color:#e41735}
.clo1 em{ background:#e41735;border-radius: 50%; }
.clo2{ color:#F90}
.clo2 em{ background:#F90;border-radius: 50%; }
.clo3{ color:#999}
.clo3 em{ background:#999;border-radius: 50%; }
.p_main{ width:95%;margin:auto; margin-top:15px; overflow:hidden; }
.pj .inputBorder{ border: 1px solid #DFDFDF; line-height:150%; padding-top:5px; padding-bottom:5px; padding-left: 5px; -webkit-appearance: none; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; border-radius: 0; -webkit-rtl-ordering: logical; -webkit-user-select: text; cursor: auto; background:#f4f3f3; font-size:14px; width:95%; margin:auto;}

.m_pingjia{display:block; margin:auto; background:#FF3300; font-size:16px; line-height:40px;
 border:0px; color:#FFF; width:100%; margin:auto;margin-top:10px; margin-bottom:10px;border-radius:5px; }
.pingfen{ width:100%; padding-top:10px; padding-bottom:10px; overflow:hidden; margin:auto; margin-top:10px; background:#FFF; border-top:1px solid #eeeeee}
.pingfen h2{ width:95%; margin:auto; height:40px; font-size:16px; color:#000; line-height:40px; font-weight:normal;}
.pingfen ul{ width:95%; margin:auto; overflow:hidden}
.pingfen ul li{ float:left; font-size:14px; line-height:30px; color:#666; }
.pingfen ul li img{ height:20px;}
.jsstar{ width:80%;float:left}

.p_main ul{ width:100%; overflow:hidden;}
.p_main ul li{ width:100%; height:50px; border:1px solid #000}
.p_main ul li input{ display:block; width:200px; height:50px; border:0; background:#CCC}
.jsstar{list-style: none;
    margin: 0px;padding: 0px;
    width:80%;height: 30px;
    position: relative;
 }
 .jsstar li{
    padding:0px;float: left; width:25px;height:25px;
    background:url(../image/star_rating.gif) 0 0px no-repeat;background-size: auto 50px
 }
.jsstar span{
    font-size: 14px; line-height:30px; margin-left:10px; color:#F00
}
.content{border: 1px solid #e6e6e6; border-radius:5px;background: #fff; position: relative;}
.w600 {width: 98%;margin: 0 auto;}
.content textarea {
   width: 100%;height: 120px;display: block; border: 0; background: none;
   font-size: 16px;line-height: 24px;;padding: 8px; resize: none;
   border-bottom: 1px solid #e6e6e6;word-break: break-all;
}
