 <widget id="A6055536951498"  version="0.0.1">
    <name>didiShit</name>
    <description>
        didiShit by APICloud.
    </description>
    <author email="Alon@apicloud.com" href="http://www.apicloud.com">
        Alon Zhang
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="false"/>
	<preference name="iOS7StatusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
    <permission name="call" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="internet" />
  <feature name="bMap">
      <param name="android_api_key" value="pibM1MPPE4pl5cFgNkBg9GNknNZ64M7k" />
      <param name="ios_api_key" value="hSxi06odifgIKb9xevxLzyO2R3sh05cP" />
  </feature>
</widget>
